/* header */
$links-color: #c8e7ff;

.navList {
    text-align: center;
  }
  
  .navList__navLinks {
    background-color: #7768ae;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .productsLink {
    position: relative;
    display: inline-block;
  }
  
  .navList__productsSubMenu {
    display: none; /* hide submenu */
    position: absolute;
    background-color: #7768ae;
    height: auto;
    margin-top: 20px;
    right: 5px;
    left: 5px;
    z-index: 100;
  }
  
  .navList__productsSubMenu li {
    text-align: center;
    font-size: 16px;
  }
  
  .productsLink:hover .navList__productsSubMenu {
    display: block;
  }
  
  .mainHeader {
    display: grid;
    grid-template-areas:
      "logo search cart"
      "nav nav nav";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    background: #2e2f2f;
    width: 100%;
  }
  
  .mainHeader__searchBar {
    position: relative;
    text-align: left;
    padding: 10px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.432);
    transition: all 0.3s;
    width: 80%;
    font-size: 1.2rem;
    height: 50%;
  }
  
  .mainHeader__searchBar:focus {
    transform: scale(1.1);
  }
  
  .fa-search {
    font-size: 30px;
  }
  
  .mainHeader__searchBarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .mainHeader__searchBar {
    width: 600px;
  }
  
  .navList li {
    display: inline-block;
    margin: 10px 25px 10px 25px;
    padding: 10px;
    border-bottom: 1px solid white;
  }
  
  .navList {
    grid-area: nav;
  }
  
  .mainHeader__navPcCart {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: cart;
  }
  
  .mainHeader__navPcCart {
    li {
      display: inline-block;
      margin: 10px;
    }
  }
  
  .pcLink {
    margin-right: 20px;
  }
  
  .mainHeader__navPcCart i {
    margin-right: 10px;
  }
  
  .mainHeader__navPcCart ul {
    padding: 20px;
  }
  
  .mainHeader__navPcCart a {
    color: $links-color;
  }
  
  .logo {
    width: 80px;
    margin-left: 10px;
  }
  
  .mainHeader__logoContainer a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mainHeader__logoContainer {
    margin: 5px;
  }
  
  .logoTitle {
    font-family: "Capriola", sans-serif;
    color: #cddddd;
    letter-spacing: 0px;
    text-transform: none;
  }
  
  /* end of header section */